<title>Todo</title>
 {{!-- Bootstrap CDN to CSS file which contains all the CSS styles necessary to apply Bootstrap's design and styling to your web page --}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">