<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template Engine - ejs</title>
</head>
<body>
    <h2>Customers name is : <%=custname %></h2>
    <script src="../src/index.js"></script>
</body>
</html>