<!DOCTYPE html>
<html>
<head>
</head>
<body>

{{!-- Header starts  --}}
   {{>header}}      


<!-- above code is for navbar -->
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti id, voluptatum perspiciatis facilis harum commodi eius error dignissimos deserunt laboriosam perferendis architecto dolorem inventore! Inventore praesentium quasi vero delectus ut!</p>



<!-- Rest of your HTML content goes here -->

</body>
</html>
